
TOKEN = "398431464:AAFZlUhhzS_-WjT2S7h-RZvzX7Kyxa8dR9s"
MESSAGE_TIMEOUT = 10
PULL_REPO_PERIOD = 1800 # Every half an hour
CHAT_IDS_PATH = "/opt/chat_ids" # A path to dir in which we will store TOML files to store chat_ids
REPO_URL = "ssh://git@docs.greenitglobe.com:10022/gig/data_team.git" # git url for the teams repo your key should be authorized first
REPO_PATH = "/opt/code/docs.greenitglobe.com/gig/data_team" # path to where you want to put the code in
ALERTA_DASHBOARD_URL = "http://192.168.122.5"
ALERTA_API_URL = "http://192.168.122.22:8080"
ALERTA_API_KEY = "y3ji2yyrCU0l8xyKw-cUPlYoTs76fGErXy8Ey-bV"
ENV_FILE = "/opt/code/docs.greenitglobe.com/gig/data_team/team/gig/operations/envs.toml"
MAIL_SERVER_HOST = "localhost"
MAIL_SERVER_PORT = ""
MAIL_SERVER_LOGIN = ""
MAIL_SERVER_PASSWORD = ""
FROM_EMAIL = "admin@alerta.aydo.com"
GOOGLE_API_KEY_PATH="/opt/code/key1.json"
AGENTS_SHEET_NAME="NOC and On-Call Shift Schedule"
DEVOPS_SHEET_NAME = "DevOps"
MONITORS_SHEET_NAME = "NOC Monitoring"
SHIFTS_CODE_NAME = "Shifts"
